@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    line-height: 33px;
}


/* Background */

.elipse-1 {
    position: absolute;
    top: 169px;
    left: 923px;
    width: 624px;
    height: 624px;
    background: radial-gradient(50% 50% at 50% 50%, #FFDDB6 0%, rgba(255, 221, 182, 0) 100%);
}

.elipse-2 {
    position: absolute;
    top: 316px;
    left: -130px;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 187, 255, 0.6) 0%, rgba(237, 187, 255, 0) 100%);
}

.elipse-3 {
    position: absolute;
    top: 18px;
    left: 396px;
    width: 528px;
    height: 528px;
    background: radial-gradient(50% 50% at 50% 50%, #C6FCFF 0%, rgba(198, 252, 255, 0) 100%);
}

.pricing-table {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-grow: 1;
    flex-shrink: 1;
    gap: 45px;
    padding: 70px;
    background: rgba(255, 255, 255, 0.7);
    border: 20px solid #FFFFFF;
    border-radius: 30px;
    transform: translate(-50%, -50%);
}

.pricing-card {
    position: relative;
    min-width: 276px;
    min-height: 364px;
    color: #141843;
}

.price {
    margin-top: 21px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    line-height: 81px;
}

.dollar {
    font-size: 36px;
    line-height: 47px;
}

.mini-desc {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    line-height: 21px;
    overflow-wrap: break-word;
}

.description {
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    line-height: 26px;
    overflow-wrap: break-word;
}

.button {
    display: inline-block;
    padding: 20px;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    border-radius: 10px;
}

.free {
    background: #EDBBFF;
}

.standard {
    background: #AEF1F5;
}

.premium {
    background: #FFDDB6;
}