@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
}


/* Background */

.elipse-1 {
    position: absolute;
    width: 624px;
    height: 624px;
    left: 923px;
    top: 169px;
    background: radial-gradient(50% 50% at 50% 50%, #FFDDB6 0%, rgba(255, 221, 182, 0) 100%);
}

.elipse-2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -130px;
    top: 316px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 187, 255, 0.6) 0%, rgba(237, 187, 255, 0) 100%);
}

.elipse-3 {
    position: absolute;
    width: 528px;
    height: 528px;
    left: 396px;
    top: 18px;
    background: radial-gradient(50% 50% at 50% 50%, #C6FCFF 0%, rgba(198, 252, 255, 0) 100%);
}

.pricing-table {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* flex-basis: auto; */
    /* flex-shrink: 1; */
    /* width: 80%; */
    /* height: 544px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    border: 20px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}

.pricing-card {
    color: #141843;
    max-width: 276px;
}

.mini-desc {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    overflow-wrap: break-word;
}

.description {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    overflow-wrap: break-word;
}